@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Lato&display=swap');

.MenuBar{
  size: $heading-text-size;
  justify-content: flex-end;
}

  
.Link{
  color: white !important;
}

.Container{
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  outline: none !important;
  padding-right: 2% !important;
  vertical-align: center;
}

.Brand{
   display: flex;
   font-family: 'Lato', sans-serif !important;
   align-items: center;
}

.Header{
    padding-left: 5%;
    color: #000000 !important;
}

.Item {
  font-family: 'Lato', sans-serif !important;
  color: #000000 !important;
}

